* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up,
.deep-forest,
.islands,
.mystery-cruise,
.football,
.desert-tour {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/public/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.deep-forest {
  background-image: url('/public/images/img-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.islands {
  background-image: url('/public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.mystery-cruise{
  background-image: url('/public/images/img-3.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.football{
  background-image: url('/public/images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;  
  font-size: 82px;
}

.desert-tour{
  background-image: url('/public/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;  
  font-size: 100px;
}

@media screen and (max-width: 960px) {
.services,
.products,
.sign-up,
.deep-forest,
.islands,
.mystery-cruise,
.football,
.desert-tour{
  font-size: 60px;

}
}

@media screen and (max-width: 768px) {
.services,
.products,
.sign-up,
.deep-forest,
.islands,
.mystery-cruise,
.football,
.desert-tour{
  font-size: 35px;

}
}

/* @media screen and (max-width: 960px) {
  .football{
    font-size: 60px;
  }
} */

/* @media screen and (max-width: 768px) {
  .football{
    font-size: 35px;
  }
} */